a{text-decoration: none ;}

h1{text-align: center;color: darkgoldenrod;background-color: black;border: 5px solid black;
   font-family: Georgia, 'Times New Roman', Times, serif;}
h2{background-color: darkgoldenrod;border: solid black;}
h3{color: whitesmoke;font-family: Arial, Helvetica, sans-serif;}
h4{background-color: darkgoldenrod;border: solid black;}

p{text-align: center;color:whitesmoke;font-size: 150%;background-color: darkgoldenrod;border: 1px solid black;
        font-family: Georgia, 'Times New Roman', Times, serif;}

table{background-color:transparent;border: 50px black;}

tr{border: 2px solid;padding: 10px;text-align: center;}

td {width: 33.33%;border: 18px solid;padding: 10px; color:transparent;}
 


